@model ForgotPasswordModel
@{
    ViewBag.Title = User.Identity.IsAuthenticated ? "Изменение пароля" : "Забыли пароль?";
}
<div>
    <h2>@ViewBag.Title</h2>
    <div class="div-box">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            @if(!ViewData.ModelState.IsValid)
            {
                <div class="warning-text" asp-validation-summary="All"></div>
            }
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email" value=@ViewBag.Email/>
                <span class="warning-text" asp-validation-for="Email"></span>
            </div>
            <div>
                <br />
                <input type="submit" value="Отправить" />
            </div>
        </form>
    </div>
</div>