@model ResetPasswordModel
@{
    ViewBag.Title = "Смена пароля";
}
<div>
    <h2>@ViewBag.Title</h2>
    <div class="div-box">
        <form asp-controller="Account" asp-action="ResetPassword" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
            @if(!ViewData.ModelState.IsValid)
            {
                <div class="warning-text" asp-validation-summary="All"></div>
            }
            <div>
                <input type="hidden" asp-for="Code" />
                <span class="warning-text" asp-validation-for="Code"></span>
            </div>
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span class="warning-text" asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span class="warning-text" asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="PasswordConfirm"></label>
                <input asp-for="PasswordConfirm" />
                <span class="warning-text" asp-validation-for="PasswordConfirm"></span>
            </div>
            <div>
                <br />
                <input type="submit" value="Изменить" />
            </div>
        </form>
    </div>
</div>